.track-container {
    min-height: 65vh;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin: 3rem 0;
}
.track {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: .5rem solid #111;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, rgba(25,25,25,.75) 25%, rgba(25,25,25,0.25) 50%, rgba(25,25,25,0.1) 75%, rgba(25,25,25,0.075) 100%);
}
.track-info-container {
    width: 80vw;
    padding: 1.5rem 0 0;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.track-info {
    width: 60vw;
    margin-left: 15rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
    column-gap: .5rem;
}
.track-info-title {
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: .15rem #151515;
    color: transparent;
    text-shadow: .1rem .1rem #fff;
    letter-spacing: -.25rem;
}
.track-info-title span {
    font-size: 2.75rem;
    line-height: 1rem;
    margin-left: .15rem;
}
.track-info-cost {
    font-size: 4.5rem;
    letter-spacing: -.25rem;
    color: #888;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    text-shadow: .5rem .5rem .5rem rgba(0,0,0,.35);
}
.track-info-cost span {
    font-size: 3.25rem;
    margin-right: .5rem;
}
.track-info-value {
    font-size: 4.5rem;
    letter-spacing: -.25rem;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    text-shadow: .5rem .5rem .5rem rgba(0,0,0,.35);
}
.track-info-value span {
    font-size: 3.25rem;
    margin-right: .5rem;
    font-weight: 400;
}
.track-info-percent-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.track-item-percent-arrow {
    font-size: 3.5rem;
    padding-right: .25rem;
}
.track-item-percent {
    font-size: 4.5rem;
    letter-spacing: -.15rem;
    text-shadow: .5rem .5rem .5rem rgba(0,0,0,.35);
}
.track-separator-1 {
    width: 70vw;
    height: .35rem;
    background-color: #111;
    margin: .6rem 0;
    margin-bottom: .5rem;
    border-radius: 50%;
}
.track-form-container {
    width: 80vw;
    padding: 2rem 0;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 62.5vw;
    margin-right: 1.25rem;
}
.track-crypto-type {
    height: 5rem;
    width: 32.5rem;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: .25rem;
    margin-right: 1rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-type::placeholder {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-type:focus {
    background-color: white;
    color: black;
}
.track-crypto-type:checked {
    color: red;
}
.track-crypto-amount {
    position: relative;
    margin-left: -1rem;
    margin-right: 1rem;
    height: 5rem;
    width: 10rem;
    font-weight: 600;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    border-radius: .25rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-amount::placeholder {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-amount:focus {
    background-color: white;
    color: black;
}
.track-crypto-price {
    margin-left: -1rem;
    margin-right: 1rem;
    height: 5rem;
    width: 20rem;
    font-weight: 600;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    border-radius: .25rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-price::placeholder {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-price:focus {
    background-color: white;
    color: black;
}
.track-submit {
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    outline: none;
    text-align: center;
    padding: 0 1.5rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0);
    text-shadow: .1rem .1rem .25rem rgba(0,0,0,.25);
    background-color: darkgreen;
    margin-left: 1rem;
    margin-right: -1rem;
    border: none;
    border-radius: .5rem;
    transition: all .25s ease;
    text-transform: uppercase;
}
.track-submit:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: .175rem .175rem 1.25rem rgba(0,0,0,.6);
}
.track-separator-2 {
    width: 70vw;
    height: .35rem;
    background-color: #111;
    margin: 1rem 0 1.75rem;
    border-radius: 50%;
}
.track-item-container {
    width: 80vw;
    padding: 2rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}