.coin-data {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6rem;
    width: 70vw;
    min-width: 30rem;
    /* margin-bottom: 1rem; */
    color: #fff;
}
#coin-table-1{
    flex: 5%;
}
#coin-table-2{
    flex: 4%;
}
#coin-table-3{
    flex: 2.5%;
}
#coin-table-4{
    flex: 12.5%;
}
#coin-table-5{
    flex: 20%;
    margin-right: -1rem;
    margin-left: 1rem;
}
#coin-table-6{
    flex: 18.5%;
    margin-right: 1.85rem;
    margin-left: -1.85rem;
    text-align: center;
}
#coin-table-7{
    margin-right: -1.5rem;
    margin-left: 1.5rem;
    flex: 12.5%;
}
#coin-table-8{
    margin-right: -.5rem;
    margin-left: .5rem;
    flex: 12.5%;
}
#coin-table-9{
    margin-left: -3.5rem;
    flex: 5%;
    text-align: end;
}
.coin-star {
    font-size: 1.8rem;
    cursor: pointer;
}
.coin-rank {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #888;
}
.coin-img {
    height: 3rem;
    width: 3rem;
}
.coin-name {
    color: white;
}
.coin-symbol {
    text-transform: uppercase;
    color: #bbb;
    font-weight: bold;
}
.coin-currency-sign {
    color: #656565;
    font-weight: 500;
}
.coin-price {
    margin-left: 5rem;
    padding-right: 5rem;
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
}
.coin-change {
    margin-left: -2.15rem;
    font-size: 2.15rem;
    font-weight: 800;
    letter-spacing: .05rem;
}
.coin-currency-sign-other {
    font-size: 1.2rem;
    color: #777;
}
.coin-mCap {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ddd;
    letter-spacing: .025rem;
}
.coin-volume {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ddd;
    letter-spacing: .025rem;
}
.coin-supply {
    font-size: 1.4rem;
    font-weight: 400;
    color: #bbb;
}