.coin-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.coin-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 6rem;
    width: 70vw;
    min-width: 30rem;
    border-bottom: .1rem solid #d7d7d7;
    margin-bottom: 1rem;
    color: #fff;
}
.coin-star {
    font-size: 1.8rem;
    cursor: pointer;
}
/* .coin-rank {

} */
.coin-img {
    height: 3rem;
    width: 3rem;
}
/* .coin-name {

} */
.coin-symbol {
    text-transform: uppercase;
}
/* .coin-chart {

} */
/* .coin-price {

} */
/* .coin-change {

} */
/* .coin-mCap {

} */
/* .coin-volume {

} */
/* .coin-supply {

} */