.markets-container {
    min-height: 60vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}
.markets-top-container {
    position: absolute;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 3.5rem;
    padding: 3.5rem 0;
    background-color: #151515;
    border-radius: 1rem 1rem 0 0;
    border: none;
}
.markets-search-form {
    width: 32.5rem;
    height: 5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.6);
    padding: 0 2rem;
    font-size: 2rem;
    background-color: #353535;
    color: #fff;
}
.markets-marketCap {
    font-size: 2.15rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.markets-marketCap-amount {
    padding-left: 1rem;
    font-weight: 500;
    color: rgb(0, 156, 0);
    font-size: 2.5rem;
}
.markets-marketCap-T {
    padding-left: .15rem;
    font-weight: 500;
    color: rgb(0, 156, 0);
    font-size: 2.5rem;
}
.markets-totalVolume {
    font-size: 2.15rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.markets-totalVolume-amount {
    padding-left: 1rem;
    font-weight: 500;
    color: rgb(0, 156, 0);
    font-size: 2.5rem;
}
.markets-totalVolume-B {
    padding-left: .1rem;
    font-weight: 500;
    color: rgb(0, 156, 0);
    font-size: 2.5rem;
}
.currency-type-selector {
    height: 3.75rem;
    width: 8rem;
    font-size: 1.8rem;
    border-radius: .65rem;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff6201;
    cursor: pointer;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.currency-type-item {
    font-size: 1.4rem;
    /* cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8); */
}
.coins-container {
    margin-top: 15.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #151515;
    width: 80vw;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 2.5rem;
    padding: 2.5rem 0;
}
@media (max-width: 1100px) {
    .markets-search-form {
        width: 25rem;
        height: 4rem;
        font-size: 1.75rem;
    }
    .markets-marketCap {
        font-size: 1.75rem;
    }
    .markets-totalVolume {
        font-size: 1.75rem;
    }
    .currency-type-selector {
        font-size: 1.75rem;
    }
    .currency-type-item {
        font-size: 1.2rem;
    }
}