.article-container {
    font-family:'Segoe UI';
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 12.5rem;
    border: .15rem solid #aaa;
    border-radius: .5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
}
.article:hover {
    transform: scale(1.015);
}
.article-text {
    padding-top: 1rem;
    padding-left: 1.5rem;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.article-text-box-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -1.5rem;
}
.article-title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -.025rem;
    line-height: 2.25rem;
}
.article-title:hover {
    text-decoration: underline;
}
.article-title-link {
    text-decoration: none;
}
.article-text-box-2 {
    margin-left: .35rem;
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.news-source {
    color: gray;
    font-weight: bolder;
    font-size: 1.2rem;
}
.article-bullet {
    color: gray;
    padding: 0 1rem;
    font-size: 1.2rem;
}
.article-time {
    color: gray;
    font-weight: bolder;
    font-size: 1.2rem;
}
.article-image-container {
    float: right;
    min-width: 20rem;
    min-height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    margin-left: 2.5rem;
}
.article-image {
    float: right;
    max-height: 12rem;
    max-width: 18rem;
    border-radius: .5rem;
}
.article-decription {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #454545;
    line-height: 1.85rem;
    letter-spacing: -.025rem;
}