.portfolio-main-buttons {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-button {
    font-family: monospace;
    font-size: 3rem;
    font-weight: 600;
    width: 50vw;
    height: 5rem;
    cursor: pointer;
    border: .2rem solid #111;
    text-transform: uppercase;
    background-color: #222;
    color: #fff;
}
.portfolio-button:hover {
    background-color: #444;
}
.portfolio-button .active-portfolio {
    background-color: red;
}