.portfolio-main-buttons {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    padding-bottom: 2.5rem;
}
.portfolio-button {
    font-size: 2rem;
    font-weight: 600;
    height: 5.5rem;
    cursor: pointer;
    border: .2rem solid #111;
    border-radius: 1rem;
    width: 38.5vw;
    margin: 1rem 2.5rem .25rem;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    transition: background-color .2s ease;
    box-shadow: .15rem .15rem .15rem rgba(0, 0, 0, .4);
}
.portfolio-button:hover {
    background-color: #444;
}
.portfolio-button:active {
    transform: scale(.95);
}
.portfolio-button .active-portfolio {
    color: blueviolet;
}