.portfolio-main-buttons {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-button {
    width: 50vw;
    height: 5rem;
    cursor: pointer;
}
.portfolio-button .active-portfolio {
    background-color: #222;
}