.track-container {
    min-height: 53.85vh;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin: 2.5rem 0;
}
.track {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: .5rem solid #111;
    border-radius: .5rem;
    background: linear-gradient(0deg, rgba(25,25,25,1) 25%, rgba(25,25,25,0.5) 50%, rgba(25,25,25,0.25) 75%, rgba(25,25,25,0.1) 100%);
}
.track-info-container {
    width: 80vw;
    padding: 2rem 0;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.track-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5rem;
    column-gap: 25rem;
}
.track-separator-1 {
    width: 70vw;
    height: .35rem;
    background-color: #000;
    margin: .6rem 0;
    margin-bottom: .5rem;
    border-radius: 50%;
}
.track-form-container {
    width: 80vw;
    padding: 2rem 0;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 62.5vw;
    margin-right: 1.25rem;
}
.track-crypto-type {
    height: 5rem;
    width: 32.5rem;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: .25rem;
    margin-right: 1rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-type::placeholder {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-type:focus {
    background-color: white;
    color: black;
}
.track-crypto-type:checked {
    color: red;
}
.track-crypto-amount {
    position: relative;
    margin-left: -1rem;
    margin-right: 1rem;
    height: 5rem;
    width: 10rem;
    font-weight: 600;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    border-radius: .25rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-amount::placeholder {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-amount:focus {
    background-color: white;
    color: black;
}
.track-crypto-price {
    margin-left: -1rem;
    margin-right: 1rem;
    height: 5rem;
    width: 20rem;
    font-weight: 600;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #111;
    color: white;
    border: none;
    border-radius: .25rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-crypto-price::placeholder {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-crypto-price:focus {
    background-color: white;
    color: black;
}
.track-submit {
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    outline: none;
    text-align: center;
    padding: 0 1.5rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0);
    text-shadow: .1rem .1rem .25rem rgba(0,0,0,.25);
    background-color: darkgreen;
    margin-left: 1rem;
    margin-right: -1rem;
    border: none;
    border-radius: .5rem;
    transition: all .25s ease;
    text-transform: uppercase;
}
.track-submit:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: .175rem .175rem 1.25rem rgba(0,0,0,.6);
}
.track-separator-2 {
    width: 70vw;
    height: .35rem;
    background-color: #000;
    margin: 1rem 0 1.75rem;
    border-radius: 50%;
}
.track-item-container {
    width: 80vw;
    padding: 2rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}