.track-item {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .2);
    width: 55vw;
    height: 6rem;
    margin: 1rem 0;
}
.track-item-name-container {
    margin-right: -1.5rem;
    margin-left: 1.5rem;
    flex: 22.5%;
}
.track-item-name {
    font-size: 2.5rem;
}
.track-item-symbol {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-left: .1rem;
}
.track-item-cost-container {
    margin-right: -2.75rem;
    margin-left: 2.75rem;
    flex: 25%;
    text-align: left;
}
.track-item-cost span {
    font-size: .85rem;
    text-transform: uppercase;
    color: white;
}
.track-item-cost {
    font-size: 1.5rem;
    color: gray;
}
.track-item-cur-price {
    font-size: 2.5rem;
    color: #fff;
}
.track-item-amount {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    margin-left: -1.5rem;
    flex: 12.5%;
}
.track-item-amount span {
    color: #555;
    font-size: 1.85rem;
    margin-left: .25rem;
    font-weight: 900;
}
.track-item-change-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-right: -2rem;
    margin-left: 2rem;
    flex: 25%;
}
.track-item-arrow {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: -2rem;
}
.track-item-change {
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: -1rem;
}
.track-item-btn-front {
    margin-right: 1rem;
    margin-left: -1rem;
    outline: none;
    flex: 1%;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: #888;
    cursor: pointer;
    opacity: .6;
    border: .1rem outset #444;
    letter-spacing: .025rem;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .8);
    transition: all .2s ease;
}
.track-item-btn-front:hover {
    border-style: inset;
    box-shadow: .5rem .5rem .25rem rgba(0, 0, 0, .8);
    opacity: 1;
}
.track-item-btn-back {
    margin-left: -.5rem;
    margin-right: .5rem;
    letter-spacing: .025rem;
    outline: none;
    padding: 1rem;
    font-weight: 800;
    background-color: #777;
    opacity: .6;
    cursor: pointer;
    border: .1rem outset #444;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .8);
}
.track-item-btn-back:hover {
    border-style: inset;
    box-shadow: .5rem .5rem .25rem rgba(0, 0, 0, .8);
    opacity: 1;
}
.track-item-remove {
    font-size: 2.5rem;
    color: #ddd;
    transition: transform .15s ease;
    flex: 2.5%;
    border: 1px solid red;
}
.track-item-remove:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.track-item-remove:active {
    color: red;
}
.track-item-update-input {
    margin-left: 1.5rem;
    margin-right: -1.5rem;
    position: relative;
    height: 3.75rem;
    width: 27.5rem;
    font-weight: 600;
    font-size: 2.25rem;
    outline: none;
    padding: 0 1.5rem;
    background-color: #bbb;
    border: none;
    border-radius: .25rem;
    box-shadow: .25rem .25rem .75rem rgba(0,0,0);
}
.track-item-update-input::placeholder {
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.1rem;
}
.track-item-update-input:focus {
    background-color: white;
}
.track-item-update-add-btn {
    margin-left: .75rem;
    margin-right: -.75rem;
    height: 3.5rem;
    width: 8rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #ddd;
    outline: none;
    text-align: center;
    padding: 0 1rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0);
    text-shadow: .1rem .1rem .25rem rgba(0,0,0,.25);
    background-color: green;
    border: none;
    border-radius: .5rem;
    transition: all .25s ease;
    text-transform: uppercase;
}
.track-item-update-add-btn:hover {
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: .175rem .175rem 1.25rem rgba(0,0,0,.6);
}
.track-item-update-remove-btn {
    margin-left: 1.65rem;
    margin-right: -1.65rem;
    height: 3.5rem;
    width: 8rem;
    font-size: 1.25rem;
    font-weight: 800;
    color: #ddd;
    outline: none;
    text-align: center;
    padding: 0 1rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0);
    text-shadow: .1rem .1rem .25rem rgba(0,0,0,.25);
    background-color: red;

    border: none;
    border-radius: .5rem;
    transition: all .25s ease;
    text-transform: uppercase;
}
.track-item-update-remove-btn:hover {
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: .175rem .175rem 1.25rem rgba(0,0,0,.6);
}
.track-item-delete-btn {
    height: 4rem;
    width: 12.5rem;
    font-size: 1.45rem;
    font-weight: 800;
    color: white;
    outline: none;
    text-align: center;
    /* opacity: .6; */
    padding: 0 1rem;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0);
    text-shadow: .1rem .1rem .25rem rgba(0,0,0,.25);
    background-color: rgb(177, 48, 48);
    border: none;
    border-radius: .5rem;
    transition: all .25s ease;
    text-transform: uppercase;
}
.track-item-delete-btn:hover {
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: .175rem .175rem 1.25rem rgba(0,0,0,.6);
}
.track-update-form-separator {
    height: 7.5vh;
    width: .35rem;
    border-radius: 5rem;
    background-color: #888;
}
.track-update-form-1 {
    margin-left: -2rem;
    margin-right: 2rem;
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.track-update-form-2 {
    margin-left: 1.5rem;
    margin-right: -1.5rem;
    flex: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-update-form-3 {
    flex: 25%;
    margin-left: -.5rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-update-form-4 {
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}