.watchlist-item-container {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watchlist-item {
    border: .25rem solid #111;
    border-radius: 1rem;
    padding: 1.35rem;
    width: 52.5vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.watchlist-rank {
    font-size: 2.25rem;
    font-weight: 900;
    color: #687588;
}
.watchlist-rank span {
    font-size: 2rem;
    padding-right: .1rem;
}
.watchlist-image {
    height: 3.25rem;
    width: 3.25rem;
    margin-top: .15rem;
    margin-bottom: -.15rem;
}
.watchlist-name-container {
    margin-top: .25rem;
    margin-bottom: -.25rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.watchlist-name {
    color: #fff;
    line-height: 2.15rem;
    font-weight: bolder;
    font-size: 2.25rem;
    text-transform: capitalize;
}
.watchlist-tag {
    font-size: 1.075rem;
    margin-left: .1rem;
    color: #bbb;
    text-transform: uppercase;
    padding-top: .1rem;
}
.watchlist-price {
    color: white;
    font-size: 2.25rem;
}
.watchlist-price span {
    color: #687588;
    font-size: 2rem;
    margin-right: .25rem;
}
.watchlist-change {
    color: #ddd;
    font-size: 2.35rem;
    font-weight: bold;
}
.watchlist-remove {
    color: #999;
    font-size: 2.25rem;
    transition: transform .15s ease;
}
.watchlist-remove:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.watchlist-remove:active {
    color: red;
}
.watchlist-item-1 {
    flex: 10%;
}
.watchlist-item-2 {
    flex: 10%;
}
.watchlist-item-3 {
    flex: 30%;
}
.watchlist-item-4 {
    flex: 20%;
    text-align: left;
}
.watchlist-item-5 {
    flex: 20%;
}
.watchlist-item-6 {
    flex: 10%;
}