@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;
  font-family: 'Quicksand';
}
body {
  background-color: #333;
}
::-webkit-scrollbar { 
  display: none;
}

@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 1125px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 1125px) {
  html {
    font-size: 25%;
  }
}