@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;
  font-family: 'Quicksand';
}
body {
  background-color: aliceblue;
}